<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epa51">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EPA  embarquement/debarquement"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Epa51">
        <activity
            android:name=".Pointeur_profile"
            android:exported="false" />
        <activity
            android:name=".Pointage_details"
            android:exported="false" />
        <activity
            android:name=".ListPointages"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false" />
        <activity
            android:name=".AddUsedGear"
            android:exported="false" />
        <activity
            android:name=".modify_delete_shift"
            android:exported="false" />
        <activity
            android:name=".ShiftDetails"
            android:exported="false" />
        <activity
            android:name=".Shiftlist"
            android:exported="false" />
        <activity
            android:name=".choose_stoppages"
            android:exported="false" />
        <activity
            android:name=".choose_gear"
            android:exported="false" />
        <activity
            android:name=".pointagePage2"
            android:exported="false" />
        <activity
            android:name=".pointagePage1"
            android:exported="false" />
        <activity
            android:name=".modify_delete_gear"
            android:exported="false" />
        <activity
            android:name=".Gear_details"
            android:exported="false" />
        <activity
            android:name=".listGears"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".debarq_embarq"
            android:exported="false" />
        <activity
            android:name=".Typewriter_welcome"
            android:exported="false" />
        <activity
            android:name=".modify_delete_user"
            android:exported="false" />
        <activity
            android:name=".userDetails"
            android:exported="false" />
        <activity
            android:name=".listusers"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>